@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');



.main{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.subHeader{
    font-size: 57px ;
    font-weight: bold;
    letter-spacing: 0.11em;
    line-height: 69px;
    margin-top: 95px;
    color: rgb(255, 255, 255);
    width: 1127px;
    height: 101px;
    align-items: center;
    display: flex;
    font-family: Rowdies;
}

.topSide{
    width: 95%;
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.show{
    margin-bottom: 117px;
    width: 1154px;
    height: 1077px;
    background-color: #F05039;
    transition: 0.3s ease;
    list-style-type: decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:default;
    color: white;
    flex-direction: column;

}

.notShow{
    margin-bottom: 20px;
    width: 1154px;
    height: 53px;
    background-color: #FE3B1F;
    transition: 0.3s ease;
    list-style-type: decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    flex-direction: column;
}
.arrow {
    background: url('../svg/submitArrow.svg') 98% 53% no-repeat ;
    display: flex;
    position: relative;
    width: 19px;
    height: 23px;
}


.nonDisplay{
    display: none
}
.userInfo{
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 477px 589px;
    color: black;
    justify-content: center;
    padding-top: 43px;
}
.appTitle{
    color: #FE3B1F;
    text-decoration: underline;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    line-height: 21px;
}

.divTitle{
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 37px;
    margin-bottom: 37px;
}


.appSkills{
    display: flex;
}

.appInfoDiv{
    padding-left: 20px;
    padding-right: 30px;
}
.appInfoDiv span{
    margin-right: 45px;
}
.appInfoDiv input[type='date']{
    width: 349px;
}
.appInfoDiv textarea{
    width: 447px;
   min-height: 153px; 
}
