@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');



.main{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subHeader{
    font-size: 57px ;
    font-weight: bold;
    letter-spacing: 0.11em;
    line-height: 69px;
    margin-top: 95px;
    color: rgb(0, 0, 0);
    width: 1127px;
    height: 101px;
    align-items: center;
    display: flex;
    font-family: Rowdies;
}


.show{
    opacity: 1;
    transition: 3s ease;
}

.notShow{
    opacity:  0;
    transition: 3s ease;

}