@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*{
  font-family: Montserrat, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}

.formDiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:  61px 0px 0px 9px;
}

.infoDiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 131px;
}

.infoDiv{
  background-color: #0C0D0E;
}

.icon{
  transition: 0.5s;
}

.icon:hover{
  fill: #006dda;
}



.title{
  width: 717px;
} 
.title p{
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FE3B1F;
  justify-content: center;
}
.infoTitle{
  width: 100%;
}
.infoTitle p{
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FE3B1F;
  justify-content: center;
}


input[type=text]{
  padding: 17px 203px 13px 57px;
  outline: none;
}


.form input::placeholder{
  width: 500px;
  transition: 0.5s;
}

.form input:focus::placeholder{
  color: rgb(255, 255, 255);
}
